{
    "cameras": {
        "ba9b1742-496b-4815-96ce-9aa8ec72f000": {
            "archive_path": "test/archive/edge2/inner_folder2",
            "name": "Камера 1"
        },
        "f95421e1-9857-4211-bfab-90fcfe94d2ae": {
            "archive_path": "test/archive/edge2/inner_folder2",
            "name": "Камера 2"
        },
        "bd6a0672-b72d-42d3-a54e-e1f9e7467a93": {
            "archive_path": "test/archive/edge1/inner_folder",
            "name": "Камера 3"
        },
        
        "5dda52a1-7cb0-4c25-a186-5a0d8ccf734d": {
            "archive_path": "test/archive/edge1/inner_folder",
            "name": "Камера 4"
        }
    }
}