{
    "cameras": {
        "5dda52a1-7cb0-4c25-a186-5a0d8ccf734d": {
            "archive_path": "/home/ivan/Projects/larga/mnt/edge1/local_arch",
            "name": "DVN_b_UVAO_2_1; #ГРЗ, Прочее (номера)"
        },
        "8e070919-4773-4993-9267-00ed1606d1f1": {
            "archive_path": "/home/ivan/Projects/larga/mnt/edgenew2/local_arch",
            "name": "Камера 2"
        },
        "bd6a0672-b72d-42d3-a54e-e1f9e7467a93": {
            "archive_path": "/home/ivan/Projects/larga/mnt/edge1/local_arch",
            "name": "TCENT_NAO_131_68_1; ТЦ МЕГА Теплый Стан. Калужский мост-въезд\\r\\n#ГРЗ (номера)"
        },
        "dcf1e6f2-e18d-4c40-b4cd-fc3f1bb89402": {
            "archive_path": "/home/ivan/Projects/larga/mnt/edgenew2/local_arch",
            "name": "DVN_b_UVAO_2_1"
        }
    }
}