<!DOCTYPE html>
<html>
<head>
	<title>Info</title>
</head>
<body>
<p>#################################################################################################################</p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px"><strong>1. Получить события по времени</strong></span></span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px"><strong>GET /api/events?</strong></span></span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px"><em>start</em> - дата начала событий формат (%Y-%m-%dT%H:%M:%S)</span></span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px"><em>end</em> - дата окончания событий формат (%Y-%m-%dT%H:%M:%S)</span></span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px"><em>uuid</em> - номер камеры (36 знаков)</span></span></p>

<p><span style="color:#27ae60"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">Пример:</span></span></span></p>

<p><span style="color:#27ae60"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">api/events?start=2019-06-15T00:00:00&amp;end=2019-06-15T23:59:00&amp;uuid=bd6a0672-b72d-42d3-a54e-e1f9e7467a93</span></span></span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">SUCCES&nbsp;-&gt;</span></span></p>

<p style="margin-left:40px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">{</span></span></p>

<p style="margin-left:80px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;path&#39;: &#39;статичный путь к image файлам&#39;,</span></span></p>

<p style="margin-left:80px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;uuid&#39;: &#39;bd6a0672-b72d-42d3-a54e-e1f9e7467a93&#39; - UUID камеры,</span></span></p>

<p style="margin-left:80px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;time&#39;: &#39;2019.06.07 08:12:19&#39;, - время события в нужном формате</span></span></p>

<p style="margin-left:80px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;location&#39;: &#39;TCENT_NAO_131_68_1; ТЦ МЕГА Теплый Стан. Калужский мост-въезд\\r\\n#ГРЗ (номера)&#39;, - название камеры</span></span></p>

<p style="margin-left:80px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;images&#39;: {</span></span></p>

<p style="margin-left:120px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;vehicle&#39;: &#39;1_102228580101652482.jpeg&#39;, - большое фото машины</span></span></p>

<p style="margin-left:120px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;scene&#39;: &#39;0_102228580101652480.jpeg&#39;, - фото сцены</span></span></p>

<p style="margin-left:120px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;thumb&#39;: &#39;1_102228580101652481.jpeg&#39;, - маленькок фото машины</span></span></p>

<p style="margin-left:120px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;plate&#39;: &#39;1_102228580101652480.jpeg&#39; - фото ГРЗ</span></span></p>

<p style="margin-left:80px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">},</span></span></p>

<p style="margin-left:80px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;vehicle&#39;: {</span></span></p>

<p style="margin-left:120px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;class&#39;: &#39;CAR&#39;,</span></span></p>

<p style="margin-left:120px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;make&#39;: &#39;AUDI&#39;,</span></span></p>

<p style="margin-left:120px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;model&#39;: &#39;A4&#39;,</span></span></p>

<p style="margin-left:120px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;weight&#39;: 64,</span></span></p>

<p style="margin-left:120px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">&#39;plate-text&#39;: &#39;H921EH77&#39;</span></span></p>

<p style="margin-left:80px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">}</span></span></p>

<p style="margin-left:40px"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">}</span></span></p>

<p>ERROR <span style="font-family:Courier New,Courier,monospace">-&gt;</span>&nbsp;</p>

<p style="margin-left:40px"><span style="font-family:Courier New,Courier,monospace">{&quot;message&quot;: &quot;Please check ARCHIVE_PATH&quot;}</span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px"><strong>2.Получить последний excel файл по uuid камеры</strong></span></span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px"><strong>GET /api/excel?</strong></span></span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px"><em>uuid</em> - номер камеры (36 знаков)</span></span></p>

<p><span style="color:#27ae60"><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">Пример:</span></span></span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="color:#27ae60"><span style="font-size:16px">api/excel?uuid=bd6a0672-b72d-42d3-a54e-e1f9e7467a93</span></span></span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">SUCCES&nbsp;-&gt; excel последних выгруженных событий из прошлого запроса api/events?</span></span></p>

<p><span style="font-family:Courier New,Courier,monospace"><span style="font-size:16px">ERROR -&gt;&nbsp;</span>{&#39;message&#39;: &#39;File is not found&#39;}</span></p>

<p><span style="font-family:Courier New, Courier, monospace">################################################################################################</span></p>
</body>
</html>
